* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif; 
    font-size: 16px;
    line-height: 24px; 
}

p {
    margin-bottom: 16px;
    font-family: arial;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

header {
    background-color: #000000;
    color: #ffffff;
    height: 170px;
}

header h1 {
    color: #bbbbbb;
    text-align:center;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
   
}

header nav {
    margin: 10px 0 0 10px;
    background-color: #000000;
}

header a {
    color: #bbbbbb;
    margin-right: 20px; 
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus {} 

article {
    clear: both;
    padding: 0 10px 0 10px; 
    font-family: arial, sans-serif;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px; 
    font-family: helvetica, arial, sans-serif;
}

article h2 {
    font-size: 24px;
    line-height: 28px; 
    margin-bottom: 4px; 
    font-family: arial, sans-serif;
} 


div edm {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -350px;
}



footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 12px; 
    height: 70px;
    padding: 0 10px 0 10px; 

}

footer a {
    color: #bbbbbb;
    text-decoration: none;
}

footer a:link {}
footer a:visited {}
footer a:hover {
    color: #ffffff;
}


img {
    width: 100%
}

article img {
    margin: 0 5% 0 5%;
    width: 90%;
} 







@media screen and (max-width: 600px) {
    
    body {
        padding: 3%; 
    }
    
    nav {
        width: 100%;  
    }
        
    #content {
        clear: left; 
        margin-left: 0; 
        width: 100%; 
    }
}
